.Product
{
  width: max-content;
  border: solid gray 3px;
  padding: 3px 7px;
  background-color: #F0F0F0;
}

.Product .Products
{
  padding-top: 5px;
}

.Product .Cell
{
  width: 100px; /* Ширина слоя */
  margin: 10px; /* Значение отступов */
  border: 2px solid black; /* Параметры границы */
  padding: 10px; /* Поля вокруг текста */
  text-align: center;
  vertical-align: middle;
}

.Product .TitleRow
{
  width: 100px; /* Ширина слоя */
  margin: 10px; /* Значение отступов */
  padding: 10px; /* Поля вокруг текста */
  border: 2px solid; /* Параметры границы */
  font-weight: bold;
}

.Product .Photo
{
  max-width: 100px; /* Ширина слоя */
  max-width: 100px; /* Ширина слоя */

  padding: 10px; /* Поля вокруг текста */
  border: 2px solid black; /* Параметры границы */
}

.Heading
{
  font-size: larger;
  font-weight: bold;
  text-align: center;
  padding: 10px; /* Поля вокруг текста */
}


